body{
    
    /* display: flex; */
}

.id-sect{
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 75%;
}
.first-page{
    height: 180px;
top: 80px;
}
.dp{
    font-size: inherit;
    width: 150px;
    height: 0px;
    /* margin: auto; */
    border-radius: 50%;
    border: 3px solid #fff;
}
.logo{padding:150px;
    width: 160px;
height: 160px;
border-radius: 50%;
}
h2{margin-top: 50px;
    display:flex;
    margin:0;
}
.id{
    margin-top: 50px;
    margin-left: 180px;
    margin-right: 00px;
    position: relative;
    top:140px;
    /* text-align: center; */
}
.buttons{
    display: block;
    justify-content: center;
    margin-left: 30%;
    margin-top:50px;
    position:absolute;
    top:240px;
    right: 0;
}
.pen{
    margin-right: 10px;
    padding: 10px;
    border:none;
    border-radius: 8px;
}
.story{margin-right: 10px;
    padding: 10px;
    border:none;
    border-radius: 8px;
    background: rgb(27, 116, 228);
}
.down{
    margin-right: 10px;
    padding: 10px;
    border:1px;
    border-radius: 8px;
}
.line1{
    position: relative;
    top: 150px;
}
.menu{
    width: 50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}
.a{
    border: 1px;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.more{
    margin-top: 10px;
}
.select{
    border: none;
}
hr{width:95%}
.full-page{
    display:flex;
    justify-content: space-between;
    position: relative;
    border: 4px solid grey ;
    grid-template-columns: 2fr 4fr;
    
}
.left-side{
    position:initial;
    margin-top: 170px;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 45%;
}
.intro{
    font-size: 20px;

}
.bio{
    /* background-color:rgb(232, 225, 225); */
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    width: 500px;}
.bag{
    height: 20px;
    width: 20px;
    }
.bag{
    padding-right: 10px;
    height: 20px;
    width: 20px;
    }
.bagimg{
    margin-top: 40px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;   
}
.work{
    margin-left: 10px;
}
.clgicon{
    padding-right: 10px;
    height: 20px;
    width: 20px;
}
.engg_clg{
    margin-top: 15px;
    display:flex;
    flex-wrap: wrap;
    
}
.dip_icon{
    padding-right: 10px;
    height: 20px;
    width: 20px;
}
.dip_clg{
    margin-top: 15px;

}
.home_icon{
    padding-right: 10px;
    height: 20px;
    width: 20px;
}
.living{
    margin-top: 15px;
}
.location_icon{
    padding-right: 10px;
    height: 20px;
    width: 20px;
}
.location{
    margin-top:15px;
}
.details{
    background-color:rgb(236, 234, 234);
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    width: 500px;
height: 30px;}
.hobbies_in{
    background-color:rgb(236, 234, 234);
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    width: 500px;
height: 30px;
}
.featured_in{
    background-color:rgb(236, 234, 234);
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    width: 500px;
height: 30px;
}
.right-side{
    margin-left: 10px;
    margin-top: 170px;
    padding-left: 20px;
    border:1px solid;
    border-radius: 10px;
    position:initial;
    width:55%;
}
.r_dp{
    width: 65px;
height: 65px;
border-radius: 50%;
}
.image{
    display: flex;
    margin-top: 10px;
}
.r_post{
    margin-top: 20px;
    margin-left: 10px;
    width: 500px;
    height: 30px;
    border-radius: 30px;
}
.r_first{
    border: 1px solid white;
    padding: 5px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background: whitesmoke;
}
.video_icon{
    height: 24px;
    width: 24px;
}
.video_button{
    margin-left: 10px;
    text-decoration: none;
    color: #65676b
}
.r_secoend{display: flex;
flex-wrap: wrap;
padding: 10px;}
.pic_vid{
    height: 24px;
    width: 24px;
}
.pic_vid_button{
    text-decoration: none;
    color:#65676b
}
.flag_icon{
    height: 24px;
    width: 24px;
}
.flag_button{
    text-decoration: none;
    color:#65676b
}
.r_row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
.filter_icon{

    height: 20px;
    width: 25px;
}
.filter_button{
    margin-left: 5px;
    text-decoration: none;
}
.r_sec{
    
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.filter{
    display: flex;
    flex-wrap: wrap;
}
.poss_icon{
    height: 15px;
    width: 15px;
}
.post_button{
    margin-left: 5px;
    text-decoration: none;
}
.manage_posts{
    display: flex;
    flex-wrap: wrap;
}
.menu_img{
    height: 30px;
    width: 30px;
}
.list_menu{
    display: flex;
    flex-wrap: wrap;
    border: 2px;
}
.menu_button{
    border: 0;
    background: transparent;
}
.grid_img{
    height:25px;
    width: 25px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.grid_button{
    border: 0;
    background: transparent;
}
.row_sec2{
    display: flex;
    justify-content: space-around;
}
.r_sect{
    background: whitesmoke;
    border:1px solid white;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
margin-bottom: 10px;
}
.my_name{
    margin-left: 10px;
}
.row-button{
    margin-right: 10px;
    border:0;
    background: transparent;
}
.dp_num3{
    border: 1px solid rgb(253, 251, 251);
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 10px;
    background: #d2d5db;
    display: flex;
    flex-wrap: wrap;/
    justify-content: space-around;
}
.first-post{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.no_1{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

/* cover photo */
/* button {
    height: 36px;
    font-size: 16px;
    border-radius: 8px;
  }
  
  button:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
  }
  
  img {
    max-width: 100%;
  }
  
  #profile {
    border-bottom: 2px solid #ccc;
    padding: 40px 0;
    max-width: 1250px;
  }
  
  #cover {
    max-width: 1250px;
    background: url(https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=2000);
    height: 462px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  #cover button {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  
  #about {
    display: flex;
    justify-content: space-between;
    height: 120px;
  }
  
  #about > div {
    display: flex;
  } */


  button {
    height: 36px;
    font-size: 16px;
    border-radius: 8px;
  }
  
  button:hover {
    cursor: pointer;
    background-color:transparent;
    color: white;
  }
  
  img {
    max-width: 100%;
  }
  
  #profile {
    border-bottom: 2px solid #ccc;
    padding: 40px 0;
    max-width: 1250px;
  }
  
  #cover {
    max-width: 1250px;
    background: url(https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=2000);
    height: 462px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  #cover button {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  
  #about {
    display: flex;
    justify-content: space-between;
    height: 120px;
  }
  
  #about > div {
    display: flex;
  }
  
  .dp {
    width: 15%;
    position: relative;
  }
  
  .dp img {
    border-radius: 50%;
    position: absolute;
    top: -24px;
  }
  
  .name-friends {
    width: 55%;
    flex-direction: column;
    padding: 0 20px;
  }
  
  .name-friends h2 {
    margin: 12px 0;
  }
  
  .name-friends p {
    margin: 4px 0;
    color: #777;
  }
  
  .edit {
    width: 30%;
    align-items: flex-end;
    gap: 8px;
  }
  
  .add-to-story {
    background: #2374E1;
    color: white;
  }
  
  .friends {
    padding: 8px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  
  .friends img {
    border-radius: 50%;
    margin-right: -8px;
  }