*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(254, 254, 255) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full{
    width: 50%;
    max-width: 1000px;
    max-height: 1000px;
    background-color: rgb(227, 215, 199);
    margin: 0;
    display:grid;
    grid-template-columns: 2fr 4fr;
}